body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 400px;
  margin: 50px auto;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background: white;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

button {
  cursor: pointer;
}
